<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
	  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	  autoReload="true"
	  internalLogLevel="Info"
	  throwExceptions="true"
	  >

	<extensions>
		<add assembly="NLog.Web.AspNetCore" />
		<add assembly="NLog.Appsettings.Standard" />
	</extensions>

	<targets>
		<target
			name="database"
			xsi:type="Database"
			dbProvider="Microsoft.Data.SqlClient.SqlConnection,Microsoft.Data.SqlClient"
			connectionString="${configsetting:item=ConnectionStrings.DefaultConnection}"
			commandText="INSERT INTO Logs ( MachineName, Logged, Level, Message, Logger, Exception) 
			VALUES (@MachineName, @Logged, @Level, @Message, @Logger,@Exception)">
			
			<parameter name="@MachineName" layout="${machinename}" />
			<parameter name="@Logged" layout="${date}" dbType="DateTime" />
			<parameter name="@Level" layout="${level}" />
			<parameter name="@Message" layout="${message}" />
			<parameter name="@Logger" layout="${logger}" />
			<parameter name="@Exception" layout="${exception:tostring}" />
		</target>
	</targets>

	<rules>
		<logger name="*" minLevel="Info" writeTo="database" />
	</rules>
	
</nlog>
	  